#learning-threshold-slider .slider-selection {
    background: #BABABA;
}
/*@font-face {*/
    /*font-family: 'MailcatFontRegular';*/
    /*src: url("../fonts/HelveticaNeueCyr-Light.otf");*/
/*format('opentype');*/
/*}*/
/*@font-face {*/
    /*font-family: 'MailcatFontBold';*/
    /*src: url("../fonts/LT_1.ttf");*/
/*format('truetype');*/
/*}*/
p{

    font-size: 130%;
}
p1 {
    font-family: "MailcatFontBold", "HelveticaNeue LT CYR 57 Cond", "HelveticaNeueLT Std Med", "Arial", sans-serif;
    font-size: 200%;
}
/*.in {*/
/*opacity: 0.9;*/
/*}*/
/*.navbar-brand{*/
    /*vertical-align: middle;*/
/*}*/
#navbar7 {
    padding-bottom: 10px;
    padding-top: 5px;
}
#logo{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #343a40;
    margin-right: 5px;
}
#inbox-head{
    padding-top: 50px;
    padding-bottom: 50px;
    /*background: #EEEEEE url(../img/inbox-head.jpg) no-repeat fixed center top;*/
}
#inbox-list{
    margin-bottom: 50px;
}
#test{
    margin-bottom: 50px;
}

.slider-group {
    margin-top: 12px;
}

html {
    position: relative;
    min-height: 100%;
}
body{
    overflow-y:scroll;
}
footer {
    background-color: #eeeeee;
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 75%;
    padding: 5px;
    color: #999;
}
::selection {
    background: #cee9ff; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #cee9ff; /* Gecko Browsers */
}

.loading-spinner {
    padding-left: 40%;
}

.link {
    color: #2dbfed;
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}
