.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
}

.edit-icon {
    cursor: pointer;
    margin-left: 10px;
}

.edited {
    background-color: yellow;
}

.container {
    overflow:auto;
    max-height: 75vh;
}

button {
    margin-right: 10px;
    margin-top: 10px;
}

.header {
    color: #2dbfed;
}

p > span {
    margin-right: 10px;
}

/*.form-wrapper {*/
    /*margin-bottom: 40px;*/
/*}*/