.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
}

.edit-icon {
    cursor: pointer;
    margin-left: 10px;
}

.edited {
    background-color: yellow;
}

.container {
    overflow:auto;
    max-height: 75vh;
}

button {
    margin-right: 10px;
    margin-top: 10px;
}

.header {
    color: #2dbfed;
}

p > span {
    margin-right: 10px;
}

/*.form-wrapper {*/
    /*margin-bottom: 40px;*/
/*}*/
.file-upload {
    margin-top: 8px;
}
input[type=file]{
    position: absolute;
    top: 0;
    visibility: hidden
}

.inputFile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputFile:focus + label,
.inputFile + label:hover {
    background-color: red;
}